body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    margin-top: 12px;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 52px);
}

.grid-item{
    box-sizing: border-box;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    background-color: rgb(255, 255, 255);
}

.grid-item.active{
    background-color: rgb(0, 0, 0);
}

#btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 0;
    padding: 8px 8px 0 8px;
}

.button{
    background-color: #081c15;
    color: #40916c;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
}

.button:hover{
    background-color: #40916c;
    color: #081c15;
}

.button:active {
  background-color: #2d6a4f;
  color: #081c15;
}

.icon-name > p{
    font-family: "Bitcount Grid Double", sans-serif;
    font-weight: 300;
}